html {
    touch-action: none;
}
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: #9a93bf;
}
input:invalid {
    color: red;
}
input:read-only {
    background-color: #fff!important;
}

.transparent {
    opacity: 0;
}

.snatch-main {
    height: calc(100vh);
    background:
        repeating-linear-gradient(
            135deg,
            transparent,
            transparent 10px,
            #f8f8f8 10px,
            #f8f8f8 20px
        ),
        linear-gradient(
            to bottom,
            #f8f8f8,
            #eee8f2
        );
}

@media (max-width: 575.99px) {
    body {
        background-color: #f8f8f8;
    }
    .snatch-main {
        position: fixed;
        top: 0px;
    }
}

#snatch-display-name{
    user-select: text;
}

.snatch-handle {
    color: #555;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    padding: .1rem .25rem .1rem .25rem;
    margin-bottom: .25rem;

    height: 1.5rem;
    min-width: 2rem;
    font-size: 125%;
}

#snatch-input-link {
    min-width: 14rem;
    letter-spacing: -0.04rem;
}

#snatch-button-link-copy img {
    height: 1.2rem;
    width: 1.2rem;
}

@media (min-width: 576px) {
    .snatch-handle {
        height: 1.75rem;
        min-width: 2.5rem;
        font-size: 145%;
    }
}

.snatch-handle-p-0 { color: #7b00ff; }
.snatch-handle-p-1 { color: #ff00d9; }
.snatch-handle-p-2 { color: #ff1500; }
.snatch-handle-p-3 { color: #ff8000; }
.snatch-handle-p-4 { color: #ccc500; }
.snatch-handle-p-5 { color: #00ff3a; }
.snatch-handle-p-6 { color: #00ccb8; }
.snatch-handle-p-7 { color: #007bff; }

.snatch-tile {
    color: #fff;
    background-color: #555;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    padding: .1rem .25rem .1rem .25rem;
    margin-left: .25rem;
    margin-bottom: .25rem;

    height: 1.5rem;
    min-width: 1.5rem;
    font-size: 125%;
}

#snatch-display-table {
    min-height: 2rem;
}

@media (min-width: 576px) {
    .snatch-tile {
        height: 1.75rem;
        min-width: 1.75rem;
        font-size: 145%;
    }
}

.snatch-tile-letter {
    width: 1.25rem;
    padding: .1rem;
}

.snatch-tile-p-0 { background-color: #7b00ff; }
.snatch-tile-p-1 { background-color: #ff00d9; }
.snatch-tile-p-2 { background-color: #ff1500; }
.snatch-tile-p-3 { background-color: #ff8000; }
.snatch-tile-p-4 { background-color: #ccc500; }
.snatch-tile-p-5 { background-color: #00ff3a; }
.snatch-tile-p-6 { background-color: #00ccb8; }
.snatch-tile-p-7 { background-color: #007bff; }

.snatch-key, .snatch-key>div {
    width: calc(10vw - .4rem);
    height: 2.5rem;
}
#snatch-keyboard>div {
    margin: .2rem;
    position: relative;
}
#snatch-keyboard>div>div {
    color: #555;
    background-color: #eee;
    border-style: solid;
    border-color: #555;
    border-width: 1px 1px 2px 1px;
    display: inline-block;
    font-weight: 100;
    line-height: 1.8;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    font-size: 120%;
    pointer-events: none;
}
#snatch-keyboard>div.snatch-key-active>div {
    background-color: #7b00ff;
    color: #fff;
    position: absolute;
    top: -4rem;
    height: 6.5rem;
    font-size: 200%;
    font-weight: 400;
}
@media (max-width: 575.99px) {
    .snatch-area-inputs-play {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .snatch-word {
        pointer-events: none;
    }
}

.snatch-word {
    color: transparent;
}

.snatch-word-wrapper {
    position: relative;
}

#snatch-mirror-word {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#snatch-overlay-word {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: .375rem 1px .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
}

#snatch-overlay-word::after {
    content: " ";
    position: absolute;
    top: 2px;
    height: 1.35rem;
    right: -2px;
    white-space: pre;
    border-right: 2px solid transparent;
    animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
    0% {
        border-right-color: transparent;
    }
    30% {
        border-right-color: #6af;
    }
    100% {
        border-right-color: transparent;
    }
}

.snatch-key-spacer {
    width: calc(5vw - .4rem);
}

.snatch-key:last-child, .snatch-key:last-child>div {
    width: calc(15vw - .4rem);
}
