body {
    height: 100vh;
    user-select: none;
}
input:invalid {
    color: red;
}

#snatch-display-name{
    user-select: text;
}

#snatch-alert, #snatch-log {
    pointer-events: none;
}

.snatch-handle {
    color: #555;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    padding: .1rem .25rem .1rem .25rem;
    margin-bottom: .25rem;

    height: 1.5rem;
    min-width: 2rem;
    font-size: 125%;
}

@media (min-width: 576px) {
    .snatch-handle {
        height: 1.75rem;
        min-width: 2.5rem;
        font-size: 145%;
    }
}

.snatch-handle-p-0 { color: #7b00ff; }
.snatch-handle-p-1 { color: #ff00d9; }
.snatch-handle-p-2 { color: #ff1500; }
.snatch-handle-p-3 { color: #ff8000; }
.snatch-handle-p-4 { color: #ccc500; }
.snatch-handle-p-5 { color: #00ff3a; }
.snatch-handle-p-6 { color: #00ccb8; }
.snatch-handle-p-7 { color: #007bff; }

.snatch-tile {
    color: #fff;
    background-color: #555;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    padding: .1rem .25rem .1rem .25rem;
    margin-left: .25rem;
    margin-bottom: .25rem;

    height: 1.5rem;
    min-width: 1.5rem;
    font-size: 125%;
}

@media (min-width: 576px) {
    .snatch-tile {
        height: 1.75rem;
        min-width: 1.75rem;
        font-size: 145%;
    }
}

.snatch-tile-letter {
    width: 1.25rem;
    padding: .1rem;
}

.snatch-tile-p-0 { background-color: #7b00ff; }
.snatch-tile-p-1 { background-color: #ff00d9; }
.snatch-tile-p-2 { background-color: #ff1500; }
.snatch-tile-p-3 { background-color: #ff8000; }
.snatch-tile-p-4 { background-color: #ccc500; }
.snatch-tile-p-5 { background-color: #00ff3a; }
.snatch-tile-p-6 { background-color: #00ccb8; }
.snatch-tile-p-7 { background-color: #007bff; }

#snatch-keyboard div {
    width: calc(100vw / 9 - .4rem);
    height: 2.5rem;
}
#snatch-keyboard>div {
    margin: .2rem;
    position: relative;
}
#snatch-keyboard>div>div {
    color: #555;
    background-color: #eee;
    border-style: solid;
    border-color: #555;
    border-width: 1px 1px 2px 1px;
    display: inline-block;
    font-weight: 100;
    line-height: 1.8;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    font-size: 120%;
    pointer-events: none;
}
#snatch-keyboard>div:active>div {
    background-color: #7b00ff;
    color: #fff;
    position: absolute;
    top: -2rem;
    height: 4.5rem;
}
@media (max-width: 575.99px) {
    .snatch-area-inputs-play {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    #snatch-input-word {
        pointer-events: none;
    }
}

flexbreak {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
